MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/whatsapp-ai-saas
JWT_SECRET=your_jwt_secret_key
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_API_URL=https://api.deepseek.com/chat/completions
PORT=5000
